@model EmployeeManager.Web.Models.CreateEmployeeModel

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Create</title>
</head>
<body>
	<div>
		<h2>Create Employee</h2>
		<form>
			<div class="row">
				<div class="col-md-2">
					@Html.LabelFor(model => model.FirstName)
				</div>
				<div class="col-md-3">
					@Html.EditorFor(model => model.FirstName)
				</div>
				<div class="col-md-2">
					@Html.LabelFor(model => model.Department)
				</div>
				<div class="col-md-3">
					@Html.EditorFor(model => model.Department)
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					@Html.LabelFor(model => model.MiddleName)
				</div>
				<div class="col-md-3">
					@Html.EditorFor(model => model.MiddleName)
				</div>
				<div class="col-md-2">
					@Html.LabelFor(model => model.JobTitle)
				</div>
				<div class="col-md-3">
					@Html.EditorFor(model => model.JobTitle)
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					@Html.LabelFor(model => model.LastName)
				</div>
				<div class="col-md-3">
					@Html.EditorFor(model => model.LastName)
				</div>
				<div class="col-md-2">
					@Html.LabelFor(model => model.Salary)
				</div>
				<div class="col-md-3">
					@Html.EditorFor(model => model.Salary)
				</div>
				<div class="col-md-1">
					@Html.LabelFor(model => model.Recurrence)
				</div>
				<div class="col-md-1">
					@Html.EnumDropDownListFor(model => model.Recurrence)
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					@Html.LabelFor(model => model.BirthDate)
				</div>
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.BirthDate, "{0:yyyy-MM-dd}", new { @type = "date" })
				</div>
				<div class="col-md-2">
					@Html.LabelFor(model => model.EmployeeId)
				</div>
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.EmployeeId)
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					@Html.LabelFor(model => model.DateHired)
				</div>
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.DateHired, "{0:yyyy-MM-dd}", new { @type = "date" })
				</div>
				<div class="col-md-2">
					@Html.LabelFor(model => model.Availability)
				</div>
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.Availability)
				</div>
			</div>
			<div class="col-md-3">
				<button class="btn btn-secondary" type="submit">
					Create
				</button>
				<button class="btn" type="reset">
					Clear
				</button>
			</div>
		</form>
	</div>
</body>
</html>
