@model EmployeeManager.Web.Models.EmployeeDisplayModel

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>View All Employees</title>
</head>
<body>
	<div class="container">
		<h2>All Employees</h2>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Employee ID</th>
						<th>First Name</th>
						<th>Middle Name</th>
						<th>Last Name</th>
						<th>Date Hired</th>
						<th>Salary</th>
						<th>Salary Type</th>
						<th>Job Title</th>
						<th>Department</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var employee in Model.Employees)
					{
						<tr>
							<td>
								@employee.EmployeeId
							</td>
							<td>
								@employee.FirstName
							</td>
							<td>
								@employee.MiddleInitial
							</td>
							<td>
								@employee.LastName
							</td>
							<td>
								@employee.DateHiredString
							</td>
							<td>
								@employee.SalaryString
							</td>
							<td>
								@employee.RecurrenceString
							</td>
							<td>
								@employee.JobTitle
							</td>
							<td>
								@employee.Department
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>